/* Version 0.3.3 */
*
{
    font-family: 'Arimo', sans-serif;
    /*background-color: #c69c11;*/

    background-color: #33a1b7;
    /*background-color: white;*/
    background-size: cover;
}
hr
{
    border-color: black;
}
h1
{
    font-family: 'Ubuntu', sans-serif;

    text-align: center;

    color: white;
}

.container
{
    /*display:flex;*/
    width: 78%;
    margin-top: -20px;
}
.hide
{
    visibility: hidden;
}
li
{
    border-right: 1px solid #000;
}
.navbar-inverse .navbar-nav > li > a
{
    color: white;
}
body
{
    background-color: #bbb9c1;
}
header
{
    padding-bottom: 15px;
}
.dropdown-menu
{
    background-color: inherit;
}
.dropdown-menu li
{
    border: none;
}
.itemName
{
    margin-bottom: 12px;

    cursor: pointer;
}
.itemInfo
{
    margin-top: 10px;
}

.desktopModel,
.status,
.operatingSystem,
.ram,
.storage,
.cpu
{
    display: inline-block;

    width: 32%;
}
p
{
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}

.insertedText
{
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
}
h2 .insertedText
{
    font-family: 'Verdana', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
h2
{
    font-size: 20px;
}
#searchbox
{
    float: right;

    margin-top: 5px;
    margin-right: 3%;
    /*border-color: aqua;*/
    padding: 5px 10px;

    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    background-color: #eaf8fc;
    background-image: linear-gradient(#33a1b7, #020f12);
}

#search
{
    font: normal 13px 'trebuchet MS', arial, helvetica;

    width: 300px;
    height: 23px;
    padding: 5px 9px;

    border: 1px solid #a4c3ca;
    border-radius: 50px 3px 3px 50px;
    background: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}


#submit
{
    font: bold 14px Arial, Helvetica;

    width: 90px;
    height: 28px;
    margin: 0 0 0 10px;
    padding: 0;

    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: 3px 50px 50px 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3),
    0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#submit:hover
{
    color: #f1f1f1;
    background-color: #040d03;
    background-image: linear-gradient(#030f03, #041202);
}

#submit:active
{
    color: #f1f1f1;
    outline: none;
    background: #051203;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5) inset;
}

#submit::-moz-focus-inner
{
    border: 0;  /* Small centering fix for Firefox */
}
#goTop
{
    font-size: 32px;

    position: fixed;
    z-index: 99;
    top: 30px;
    right: 30px;

    display: none;

    cursor: pointer;

    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    background-color: inherit;
}
.caret
{
    background-color: inherit;
}
.navbar
{
    margin-bottom: 0;
}
.mainBody
{
    margin-top: 40px;
}
.mainButton
{
    float: right;

    margin: 5px;
    margin-bottom: 10px;
}
hr
{
    clear: right;
}
.id,
.SN
{
    display: none;
}
.noResults
{
    font-size: 24px;

    text-align: center;

    color: white;
}
