*{
  background-color: #c69c11;
  background-size: cover;
}
hr {
  border-color: black;
}
h1{
  text-align: center;
}
.container{
  /*display:flex;*/
}
.hide {
  visibility:hidden
}
li {
  border-right: 1px solid #000;
  background-color: ##9F6E2E;
}
.navbar-inverse .navbar-nav > li > a {
  color: black;
}
body {
  background-color: inherit;
}
.dropdown-menu {
  background-color: inherit;
}
.dropdown-menu li {
  border: none;
}
.itemName{
  cursor:pointer;
  margin-bottom: 12px;
}
.status, .ram {
  float: right;
}
p {
  font-size: 14px;

}

.insertedText {
  font-size: 16px;
  font-family: verdana;
  font-weight: bold;

}
h2 .insertedText {
  font-size: 22px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
}
