*{
  background-color: #c69c11;
  background-size: cover;
  font-family: 'Arimo', sans-serif;
}
hr {
  border-color: black;
}
h1{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.container{
  /*display:flex;*/
}
.hide {
  visibility:hidden
}
li {
  border-right: 1px solid #000;
}
.navbar-inverse .navbar-nav > li > a {
  color: black;
}
body {
  background-color: inherit;
}
.dropdown-menu {
  background-color: inherit;
}
.dropdown-menu li {
  border: none;
}
.itemName{
  cursor:pointer;
  margin-bottom: 12px;
}
.itemInfo{
  margin-top: 10px;
  text-indent: 15px;
}

.status, .ram {
  float: right;
}
p {
  font-size: 14px;
  font-family: 'Arimo', sans-serif;
}

.insertedText {
  font-size: 16px;
  font-family: verdana;
  font-weight: bold;

}
h2 .insertedText {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
}
h2 {
  font-size: 20px;
}
#searchbox
{
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    background-color: #eaf8fc;
    background-image: linear-gradient(#cfbc11, #020f12);
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
    /*border-color: aqua;*/
    padding: 5px 10px;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 300px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}


#submit
{
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 28px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {
    background-color: #040d03;
    background-image: linear-gradient(#030f03, #041202);
    color: #f1f1f1;
}

#submit:active {
    background: #051203;
    color: #f1f1f1;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
